html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ====================== */
/* ====================== */
/* ====================== */
/* SITE'S CSS STARTS HERE */
/* ====================== */
/* ====================== */
/* ====================== */
body {
    margin: 0;
    font-family: 'Avenir Next', 'Gotham', 'Helvetica Neue', 'Sans-Serif';
    display: grid;
    grid-template-columns: repeat(7, minmax(180px, 1fr));
    height: 100vh;
    width: 100vw;
}

/* ========================= */
/*  SIDE NAV'S CSS           */
/* ========================= */
body #sidenav {
    background-color: #1a1a1a;
    color: white;
    padding: 50px 20px 0px;
    overflow-y: scroll;
	position: relative;
}

body #sidenav #sidenav-wrapper {
    position: fixed;
}

body #sidenav #sidenav-wrapper a {
	text-decoration: none;
	color: white;
	font-size: 2.2em;
}

body #sidenav #sidenav-wrapper a:hover {
	text-decoration: underline;
}

body #sidenav #sidenav-wrapper #title-logo {
    display: block;
	margin-bottom: 10px;
}

body #sidenav #sidenav-wrapper p.logo-text {
    font-size: 16px;
	color: white;
	opacity: 0.5;
}

body #sidenav #sidenav-wrapper nav ul {
    padding: 0px;
    list-style: none;
    font-weight: 300;
}

body #sidenav #sidenav-wrapper nav ul li {
    display: block;
    margin: 20px 0px;
}

body #sidenav #sidenav-wrapper nav ul li span.nav-separator {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin: 20px 0px;
}

body #sidenav #sidenav-wrapper nav ul li a {
	font-size: 16px;
}

body #sidenav #sidenav-wrapper nav ul li a:hover {
    text-decoration: underline;
}

/* ========================= */
/*  CONTAINER'S CSS          */
/* ========================= */
body .container {
    padding: 50px 80px;
    grid-column: span 6;
}

body .container h1 {
    font-size: 3em;
}

body .container .cover-div {
	max-width: 1030px;
}

body .container .cover-div .cover-h1 {
    font-size: 5em;
	font-weight: 700;
}

body .container .cover-div .cover-h2 {
    font-size: 2.3em;
	line-height: 1.5em;
}

body .container .cover-div .cover-p {
	margin-top: 30px;
}

/* --------------------------- */
/*  CONTAINER'S > EMBED IFRAME */
/* --------------------------- */
body .container .slides-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	margin-top: 1.5em;
}

body .container .slides-container .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .container .slides-container .docs {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* --------------------------- */
/* CONTAINER'S > QUIVER IMPORT */
/* --------------------------- */
body .container #titlearea {
	margin: 20px 0px;
}

body .container #titlearea h2 {
	font-size: 1.8em;
}

body .container #contentarea h2 {
	font-size: 2em;
	margin-bottom: 0.6em;
}

body .container #contentarea h4 {
	font-weight: 600;
}

body .container #contentarea hr {
	margin-top: 20px;
}

body .container #contentarea p {
	font-size: 1.15em;
    line-height: 1.6em;
    color: black;
    opacity: 0.85;
}


/* --------------------------- */
/*  CONTAINER'S > POSTS        */
/* --------------------------- */
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    padding: 0;
}

ul.posts li {
    list-style: none;
}

.ace_line {
    font-size: 1.2em;
    line-height: 25px;
}
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }
    body .container {
        padding 0 20px;
    }
}
