<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div id="sidenav">
				<a href="/" id="title-logo">MCpO</a>
				<p class="logo-text">Nova IMS</p>
				<p class="logo-text">Fall 2019</p>
				<span class="nav-separator"></span>
				<nav>
					<ul>
						<li><a href="/weekzero">Week 0</a></li>
						<li><span class="nav-separator"></span></li>
<!-- 						<li><a href="/blog">Blog</a></li>
						<li><span class="nav-separator"></span></li> -->
						<li><a href="/python-reference">Python Reference</a></li>
						<li><a href="/exercises">Exercises</a></li>
						<li><span class="nav-separator"></span></li>
						<li><a href="/pythonsetup">Python Setup</a></li>
						<li><a href="/vscodesetup">VSCode Setup</a></li>
						<li><span class="nav-separator"></span></li>
						<li><a href="/inspirations">Python, Data, AI, etc. </a></li>
						<li><span class="nav-separator"></span></li>
						<li><a href="/community">Code Review & Community</a></li>
					</ul>
				</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
<!-- 			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
