<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div id="sidenav">
				<div id="sidenav-wrapper">
					<a href="/" id="title-logo">MCpO</a>
					<p class="logo-text">Nova IMS</p>
					<p class="logo-text">Fall 2019</p>
					<nav>
						<ul>
							<li><span class="nav-separator"></span></li>
							<li><a href="/weekzero">Week 0</a></li>
							<li><span class="nav-separator"></span></li>
	<!-- 						<li><a href="/blog">Blog</a></li>
							<li><span class="nav-separator"></span></li> -->
							<li><a href="/python-reference">Python Reference</a></li>
							<li><a href="/more-python">More on Python</a></li>
							<li><a href="/coding-exercises">Coding Exercises</a></li>
							<li><span class="nav-separator"></span></li>
							<li><a href="/pythonsetup">Python Setup</a></li>
							<li><a href="/vscodesetup">VSCode Setup</a></li>
							<li><span class="nav-separator"></span></li>
							<li><a href="/data-ai">Data Science & AI</a></li>
							<li><span class="nav-separator"></span></li>
							<li><a href="/community">Code Review &<br>Classroom Extension</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div>
		</body>
	</html>
